.station-item{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 300px;
    margin: 5px;
}
.station-item:hover{
  cursor: pointer;
  opacity: 0.7;
  pointer-events: painted;
}
.stations-list-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
    width: 50vw;
    height: 70vh;
    border-radius: 10px;
    overflow: hidden;
    background-color: #e6e6e6;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .station-item-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
  }
  .stations-controls{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchbar{
    width: 300px;
    height: 40px;
  }
  .single-station-card{
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2px black;
    border-radius: 10px;
    background-color: #f1f1f1;
    padding: 0px 10px 0px 10px;
  }
  .single-station-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }