@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

.App {
  background-color: #F0F0F0;
}
.header{
  display: flex;
  justify-content: center;
}
.content-container{
  display: flex;
  justify-content: center;
}
.navigation-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}
h1 {
  font-family: system-ui, sans-serif;
  font-size: calc( 1em + 5vmin );
  font-weight: 900;
  color: rgb(31, 13, 10);
  --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  --background-color: white;
  --stroke-color: lightblue;
  text-shadow: 
    var(--x-offset)
    var(--y-offset)
    0px
    var(--background-color), 
    calc( var(--x-offset) - var(--stroke) )
    calc( var(--y-offset) + var(--stroke) )
    0px
    var(--stroke-color);
}

p{
  font-family: 'Grape Nuts', cursive;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}
body{
  background-color: #F0F0F0;
}
